#statisticsContainer
{
    display: none;
    transition:all .1s linear;
    opacity: 0;
}

#landscapeChartArea, #portraitChartArea{
    height: 100%;
    background: #fff;
}

#headerLandscapeCharts .nav-wrapper, #headerPortraitCharts .nav-wrapper
{
    transition:all .1s linear;
    opacity: 0;
}

.viewing
{
    opacity: 1 !important;
}


#statisticCarosel
{
/*    transition:all .1s linear;
    opacity: 0;*/
}

#statisticCarosel .owl-stage-outer
{
    padding-top: 15px;
}

#statisticCarosel .owl-dots
{
    margin-top: -20px;
}

#detailsRedirects
{
    margin: 10px;
    box-shadow: 0px 2px 1px 1px rgba(0,0,0,.2);
}

#detailsRedirects li
{
    border-radius: 0 !important;
    font-size: 18px;
    border-left: none;
    border-right: none;
    color: #777;
}

#redirectChart
{
    min-height: 260px;
}

#detailsRedirects li:last-child
{
    border-bottom: none;
}

#detailsRedirects li p.bullet
{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    padding: 0;
    margin:0 10px 0 0;
    display: inline-block; 
}

#detailsRedirects li span
{
    float: right;
    font-family: 'RopaSans-Regular' !important;
    font-weight: 600;
    color: #777;
}

#wrapperRedirectControl
{
    display: none;
    overflow-y: scroll;
    width: 100%;
    transition:all .1s linear;
    opacity: 0;
}

.navInfo div
{
    text-align: center;
    font-weight: 700;
    color: #777;
}

.navInfo div.back
{
    text-align: left;
    font-weight: 200;
    color: #008eab;
}

.navInfo div.going
{
    text-align: right;
    font-weight: 200;
    color: #008eab;
}

.navInfo div.back i
{
    font-size: 15px;
    color: #008eab;
}

.navInfo div.going i
{
    color: #008eab;
    font-size: 15px;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

#dataAccessCharts .owl-stage-outer
{
    padding-top: 0;
}

.mrtgImgContainner
{
    min-height: 200px;
    text-align: center;
}

.mrtgImgContainner.empty
{
    background: url(../img/loaderchart-app.gif) center center no-repeat;    
}

.mrtgImgContainner img
{
    max-width: 90%;
    margin-left: 6%;
    margin-top: 10px;
}

.mrtgLabel
{
    text-align: right;
    padding-right: 55px;
    margin-top: 5px;
}

.mrtgLabel em
{
    font-style: normal;
}

#dataAccessCharts .owl-theme .owl-nav.disabled + .owl-dots
{
    margin-top: -15px;
}

#dataAccessCharts
{
    display: none;
    transition:all .1s linear;
    opacity: 0;
}