#wrapperConfigArea
{
    background: #fff;
}

#btCloseConfigArea
{
    display: block;
}

#companies
{
    max-height: 220px;
    overflow-y: scroll;
}

#configAreaBody h3, #contactsBody h3
{
    padding: 15px 0 15px 15px;
    margin: 0;
    border: none;
    border-bottom: 1px solid #ccc;
}

#configAreaBody li
{
    border-left: none;
    border-right: none;
    border-radius: 0;
}

#btLogout
{
    color: #fff;
}