@font-face {
    font-family: RopaSans-Regular;
    src: url(../fonts/RopaSans-Regular.ttf);
}

@font-face {
    font-family: RopaSans-Regular-italic;
    src: url(../fonts/RopaSans-Italic.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(../fonts/roboto/Roboto-Light.ttf);
}

html
{
    height: 100%;
    font-family: 'RopaSans-Regular' !important;
}

body
{
font-family: 'RopaSans-Regular' !important;
height: 100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+0,e1e1e1+100 */
background: #e8e8e8; /* Old browsers */
background: -moz-linear-gradient(top, #e8e8e8 0%, #e1e1e1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e8e8e8 0%,#e1e1e1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e8e8e8 0%,#e1e1e1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
}

.noShadow
{
    box-shadow: none !important;
}

.navbar
{
    height: 60px;
}


#wrappLogin
{
    background: #fff;
    height: 100%;
    position: fixed;
    z-index: 99;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
}

.app
{
    height: 100%;
}

#deviceready
{
    margin-top: 75px;
}

#wrapperHeader
{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    background: #e8e8e8;
}

#headerCompany i 
{
    color: #8e8e8e;
    font-size: 32px;
}

#headerCompany
{
    /*padding-top: 53px;*/
    -webkit-transition: max-height .3s; 
    -moz-transition: max-height .3s; 
    -ms-transition: max-height .3s; 
    -o-transition: max-height .3s; 
    transition: max-height .3s;
    overflow: hidden;
    height: 55px;
    max-height: 100px;
    background: transparent;
    box-shadow: none;
}

#headerCompany h3
{
    font-size: 22px;
    text-align: center;
    color: #787ee8;
    padding-right: 10px;
    /*margin-top: 15px;*/
}

#wrapperHeader.fixFilter
{
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.2);
}

#headerFilter .headermenu
{
    display: block;
    width: 50px;
}

#chosenFilters
{
    background: transparent;
    margin-top: -32px;
    text-align: center;
}

#chosenFilters h6
{
    color: #777;
    display: inline-block;
    margin-top: 2px;
    padding-right: 10px;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
}

#routersList, #hotspotList
{
    overflow: scroll;
/*    height: 380px;*/
    position: absolute;
    width: 100%;
    transition:all .1s linear;
}

#routersList{
    z-index: 1;
}

#routersList.hideFiltetr
{
    left: -100%;
}

#hotspotList
{
    left: -100%;
    z-index: 99;
    background: #eee;
}

#hotspotList.showFilter
{
    left: 0;
}

#routersList .list-group-item,  #hotspotList .list-group-item,
#companies .list-group-item
{
    padding: 15px;
}

#routersList .list-group-item span,  #hotspotList .list-group-item span,
#companies .list-group-item span
{
    font-size: 20px;
    float: right;
    margin-top: -3px;
}

#routersList .list-group-item:first-child,  #hotspotList .list-group-item:first-child,
#reportList .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

#routersList .list-group-item:last-child,  #hotspotList .list-group-item:last-child,
#reportList .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#routersList ul, #hotspotList ul
{
    /*margin-top: 60px;*/
    margin-bottom: 35px;
}

a.headermenu:hover
{
    text-decoration: none;
}

#filterControl
{
    background: transparent;
}

.mainLogo
{
    text-align: right;    
}

.mainLogo img
{
    width: 48px;
}

#filterControl span.badge
{
    font-size: 13px;
    padding-top: 1px;
}

#filterControl a b
{
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}

#filterControl.collection a.collection-item:not(.active):hover
{
    background: transparent;
}

.wrapperBadge
{
    width: 100%;
}

#wrapperFiltersFields, #wrapperFiltersMenuLeft, #wrapperLandscapeCharts,
#wrapperPortraitCharts, #wrapperConfigArea
{
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 99999;
    
}

#wrapperFiltersFields.slideInRight, #wrapperLandscapeCharts.slideInRight,
#wrapperPortraitCharts.slideInRight
{
    animation-duration: 0.4s;
}

#wrapperFiltersMenuLeft.slideInLeft
{
    animation-duration: 0.2s;
}

#wrapperConfigArea.bounceInUp
{
    animation-duration: 0.6s;
}

#filtersFields
{
    height: 100%;
    width: 100%;
    background: #fff;
    margin: 0;
    padding: 0;
    background: #e8e8e8;
    /*display: none;*/
}

#filtersFields .item
{
    height: 100%;
    width: 100%;
}

#filtersFields .item h4
{
    width: 100%;
    z-index: 999;
    padding-left: 15px;
    padding-bottom: 10px;
    color: #555;
    /* box-shadow: 0px 2px 1px 0px rgba(0,0,0,.2); */
    margin-bottom: 1px;
    border-bottom: 1px solid #ddd;
    background: #fff;
    margin-top: 0;
    padding-top: 15px;
}

#carouselFilter
{
    /*height: calc(100% - 125px);*/
    transition:all .1s linear;
    opacity: 0;
}

#carouselFilter .owl-stage
{
    /*height: calc(100% - 25px);*/
}

#carouselFilter .owl-stage-outer
{
    height: calc(100% - 35px);
}

footer.page-footer
{
    padding-top: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 10px;
}

footer.page-footer .footer-copyright
{
    min-height: 20px;
    padding: 0;
}

h3.title
{
    margin: 125px 0 30px 15px;
    font-size: 20px;
    font-weight: 600;
}

h3.title.middle
{
    width: calc(50% - 5px);
    margin: 0;
    text-align: center;
    display: inline-block;
}

#chartArea
{
    width: calc(100% - 10px);
    max-height: 300px;
    margin: 5px;
    padding-right: 5px;
}

span.lineDivision
{
    width: 100%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ccc;
    display: block;
    margin-bottom: 10px;
    /*box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);*/
}

div.chartMiddle
{
    width: calc(50% - 10px);
    height: 250px;
    display: inline-block;
    margin-left: 5px;
}

#lineChartArea
{
    min-height: 200px;
}

select.cboOrigin
{
    height: 30px;
    border: none;
    width: calc(50% - 25px);
    border-bottom: 1px solid #ccc;
    opacity: 1;
    background: transparent;
    display: inline-block;
    padding: 0 20px 0 0 !important;
    margin: 5px 10px 0 10px !important;
    outline: none;
}

select.cboOrigin option
{
    color: #212121;
}

#bodyApp{
    height: 100%;
    padding-top: 55px;
    width: 100%;
    overflow-x: hidden;
}

.btnApp
{
    box-shadow: none;
    background-color: rgba(0,0,0,.5);
    border-radius: 0;
    text-transform: none;
}

.txtBtn
{
    position: relative;
    position: relative;
    top: -3px;
    font-size: 15px;
    margin-right: 5px;
}

.btn.btnApp:hover, .btn.btnApp:focus
{
    box-shadow: none;
    background-color: rgba(0,0,0,.5);
    color: #fff;
}

.miniBox{
    margin: -10px 10px 10px 10px;
    /*border: 1px solid #ccc;*/
    border-radius: 3px;
    
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);
    
    background: #fff;
    min-height: 65px;
    padding:10px 0 0 0;
}

.miniBox div:first-child
{
    text-align: center;
}

.miniBox i
{
    font-size: 48px;
}

.labelColor{
    font-family: 'roboto-light' !important;
    font-size: 22px;
}

.labelColor.loading
{
    background: url(../img/loaderchart-app.gif) 15px 10px no-repeat;
    text-indent: -99999px;
}

#pieChartsAnalitics .chartBox
{
    background: url(../img/loaderchart-app.gif) center center no-repeat #fff;
}

.labelText
{
    margin-top: -4px;
    font-size: 14px;
}

#userOnlineChart, #simultUserChart, #pieChartBrowsers, #pieChartOSs, #pieChartGender
{
    background: url(../img/loaderchart-app.gif) center center no-repeat;
    min-height: 250px;
}

#menuBottom
{
    background: #fff;
    width: 100%;
    height: 45px;
    position: fixed;
    bottom: 0;
    box-shadow: 0 0px 3px 1px rgba(0,0,0,.2);
    z-index: 8;
}

#menuBottom ul
{
    width: 100%;
    height: 100%;
}

#menuBottom ul li
{
    text-align: center;
    margin-top: 10px;
}

#menuBottom ul li.selected
{
    /*margin-top: 0;*/
}

/*#menuBottom ul li.selected:after
{
    height: 25px;
    width: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: #fff;
    content: '';
    top: -10px;
    left: 6px;
    z-index: 1;
    position: absolute;
    box-shadow: 0px -1px 1px 0px rgba(0,0,0,.1);
    
}*/

#menuBottom ul li.selected i
{
    /*font-size: 32px;*/
    color: #787ee8;
    z-index: 2;
    position: relative;
}

#btApplyFilters
{
    height: 100%;
    color: #fff;
    /*text-transform: capitalize;*/
    font-size: 18px;
}

#hotspotList
{
    position: absolute;
}

.wrappIptOnOff
{
    padding: 10px 0 0 0;
    background: #efefef;
    margin-bottom: 0;
}

.areaTab .form-line input
{
    font-size: 26px;
    margin: 15px 0 15px 20px;
    border-bottom: none;
}

.areaTab .form-line input::placeholder
{
    font-size: 18px;
}

#blockDateArea
{
    display: none;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    color: #fff;
    font-size: 28px;
    padding: 160px 50px 0 50px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
}

.iptDateList
{
    border-top: 1px solid #ccc;
    /*border-bottom: 1px solid #ccc;*/
    
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.3);
    background: #fff;
}

#pagSelectedTitle
{
    margin-top: 15px;
}

i.btViewMore
{
    font-size: 20px;
    position: absolute;
    top: -10px;
    right: 0;
    padding: 5px;
    color: #FF5722;
    border-radius: 50px;
}

.chartBoxLandscape
{
    padding-top: 35px;
}

.chartBoxLandscape h3
{
    font-size: 18px;
    margin: 0 0 10px 10px;
    padding-top: 10px;
    text-align: right;
    transition:all .1s linear;
    opacity: 0;
}

.chartBoxLandscape h3 i
{
    margin-right: 20px;
    vertical-align: text-bottom;
}

.infoChart
{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 45px;
    color: #8e8e8e;
    padding: 25px 0 25px 0;
    background: #fff;
}

.alert-info
{
    background: #f5f5f5 !important;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.2);
    border-color: #777 !important;
    border-radius: 0 !important;
    color: #E57373 !important;
}

#dashBoardContainer{
    transition:all .1s linear;
    opacity: 0;
}


.loaderLine {
  height: 2px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.loaderLine:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 2px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

#logoLoginArea
{

    -webkit-transition: max-height .3s; 
    -moz-transition: max-height .3s; 
    -ms-transition: max-height .3s; 
    -o-transition: max-height .3s; 
    transition: max-height .3s;  
    background: #e5feff;
    overflow: hidden;
    max-height: 0;
    max-height: 100%;
    text-align: center;
    padding: 120px 0 120px 0;
    /* background: #1a3a59; */
    background: url(../img/logo-wifimax-bco.svg) no-repeat center 50% #152a47;
    background-size: 90px;
    height: 100%;
}

#logoLoginArea.loaded
{
    max-height: 30%;
}

#btLogin
{
    background: #1a3a59;
    padding-bottom: 33px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,.5);
}

#btLogin.btn:hover
{
    color: #fff;
}

#frmLogin
{
    padding-top: 50px;
}

#frmLogin.loading
{
    /*display: none;*/
}

#frmLogin input
{
    font-size: 20px;
}

#logoLoginArea.floating
{
    max-height: 0;
    padding: 0;
}

span.dateInChart
{
    position: absolute;
    right: 15px;
    bottom: 5px;
    font-size: 12px;
}

span.dateInChartPort
{
    position: absolute;
    right: 15px;
    top: 27px;
    font-size: 12px;
}

.portraitTitle
{
    margin: 13px 0 0 0;
    text-align: right;
    color: #777;
    font-size: 18px;
}

.portraitTitle.wDate
{
    margin-top: 7px;
}

#pieChartsAnalitics .item.chartBox
{
    min-height: 270px;
}