.panelTab
{
    display: none;
    padding: 0;
}

.panelTab.selected
{
    display: block;
}

.buttonsTabList
{
    margin: 20px;
    text-align: center;
}

.buttonsTabList li
{
    display: inline-block;
    text-align: center;
}

.buttonsTabList li.selected
{
    background: #ffa000;
    color: #fff;
}

.buttonsTabList li a
{
    color: #777;
}

.buttonsTabList li.selected a
{
    color: #fff;
}

.buttonsTabList.pane2 li
{
    width: calc(50% - 20px);
    padding: 5px 0 5px 0;
    border: 1px solid #ccc;
    margin: -1px;
    font-size: 18px;
    border-right: none;
}

.buttonsTabList.pane2 li:first-child
{
    border-radius: 25px 0 0 25px;
}

.buttonsTabList.pane2 li:last-child
{
    border-radius: 0 25px 25px 0;
    border: 1px solid #ccc;
}

.bodyTab
{
    background: transparent;
}

.panelTab .row.clearfix
{
    margin: 0;
}